<div class="row">
    <div class="col-md-12">
        {{#each questions}}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{this.title}} <small class="float-right">{{this.date}}</small></h5>
                <p><strong>User: </strong> {{this.userName}}</p>
                <p class="card-text">{{this.description}}</p>
                <p><a class="btn btn-primary" href="/details/{{this.id}}" role="button">View details »</a></p>
            </div>
        </div>
        {{/each}}
    </div>
</div>